body{
    background-color: darkcyan;

}
.box{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 0 auto;

}
.smallBox{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}